# Java
*.class
*.jar
*.war
*.log

# Build
/target/
/out/
/build/

# IDE files
.idea/
*.iml
.vscode/

# Config files
config.properties
*.env


# NetBeans private folders
nbproject/private/
private/

# NetBeans project metadata (optional, recommended)
nbproject/

# Build directories
build/
dist/



